<div class="max-w-2xl mx-auto">
  <h1
    class="text-2xl font-bold text-gray-800 my-4 border-b-2 border-gray-200 pb-2"
  >
    My Goals
  </h1>
  <ng-container *ngIf="goal$ | async as goals">
    <app-goal-list
      [goals]="goals"
      (onAddGoalClick)="openAddGoalModal()"
      (onGoalClick)="openEditGoalModal($event)"
    />
  </ng-container>
</div>
<app-modal
  *ngIf="showLoginModal"
  title="Mock Login"
  subtitle="✅: Any username and password will work"
>
  <app-login-form />
</app-modal>
<app-modal
  *ngIf="showGoalForm"
  [title]="goalToEdit ? 'Edit goal' : 'Add goal'"
  (onClose)="closeGoalModal()"
>
  <app-goal-form
    (onSubmit)="handleGoalSubmit($event)"
    (onDeleteClick)="handleGoalDelete($event)"
    [editGoal]="goalToEdit"
  />
</app-modal>
